.App {
  text-align: center;
}

.search{
  position: relative;
  text-align: center;
  margin-top: 2rem;
}

.top{
  text-align: center;
}

.enters{
    height: 2rem;
    width: 40rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.513);
}



.app{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


